<nav class="navbar navbar-expand-lg navbar-light bg-light mr-5">
    <a class="navbar-brand" href="#">Desenvolvedor Angular JR.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="https://www.linkedin.com/in/francisco-de-assis-da-silva-031385a5/" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Franciscoas4" target="_blank"><i class="bi bi-github"></i>Github</a>
      </ul>
    </div>
  </nav>